
.buttonContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .viewButton, .deleteButton {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .viewButton {
    background-color: #4caf50;
    color: white;
  }
  
  .deleteButton {
    background-color: #f44336;
    color: white;
  }
  